RESTIC_REPOSITORY=s3:https://s3.us-west-004.backblazeb2.com/REPLACE_BUCKET/homelab-k3s
RESTIC_PASSWORD=REPLACE_AND_STORE_OUTSIDE_THIS_CLUSTER
AWS_ACCESS_KEY_ID=REPLACE_WITH_PREFIX_SCOPED_B2_KEY_ID
AWS_SECRET_ACCESS_KEY=REPLACE_WITH_PREFIX_SCOPED_B2_APPLICATION_KEY
