WIREGUARD_PRIVATE_KEY=REPLACE_FROM_MULLVAD_CONFIGURATION
WIREGUARD_ADDRESSES=REPLACE_FROM_MULLVAD_CONFIGURATION
WIREGUARD_PUBLIC_KEY=REPLACE_FROM_MULLVAD_CONFIGURATION
WIREGUARD_ENDPOINT_IP=REPLACE_AND_MATCH_NETWORK_POLICY
WIREGUARD_ENDPOINT_PORT=51820
